In [1]:
# Read the preprocessed dataset
import pandas as pd
dataset = pd.read_csv("Featured-Dataset.csv")
dataset = dataset.dropna()
dataset = dataset.drop(columns=['password'])
dataset

,count,length,common,alpha-count,numeric-count,special-count,uppercase,lowercase,sequential-pattern,repeated-characters,case-ratio
0,13,9.0,0,8,1,0,0,1,1,1,0.0
1,13,8.0,0,4,4,0,0,1,0,0,0.0
2,13,11.0,0,5,6,0,1,0,0,0,0.0
3,13,8.0,0,6,2,0,0,1,0,0,0.0
4,13,8.0,0,8,0,0,0,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
684408,69,6.0,0,0,6,0,0,0,0,0,0.0
684409,69,7.0,0,1,6,0,0,1,0,0,0.0
684410,69,7.0,0,7,0,0,0,1,0,0,0.0
684411,69,11.0,0,6,5,0,0,1,0,0,0.0
684412,69,8.0,1,8,0,0,1,1,0,0,7.0

In [2]:
# K-Means Clustering
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Assuming 'dataset' is your DataFrame containing the relevant features
# Scale the data first (important for K-Means)
scaler = StandardScaler()
scaled_features = scaler.fit_transform(dataset[['count', 'length', 'common', 'alpha-count', 'numeric-count', 
                                                'special-count', 'uppercase', 'lowercase', 'sequential-pattern', 
                                                'repeated-characters', 'case-ratio']])

# Apply K-Means with 3 clusters
kMeans = KMeans(n_clusters=3, random_state=42)
dataset['strength'] = kMeans.fit_predict(scaled_features)

# Now, the 'strength' column will contain 0, 1, or 2 as cluster labels
# You can map these to 'weak', 'moderate', 'strong'
label_mapping = {0: 'weak', 1: 'moderate', 2: 'strong'}
dataset['strength'] = dataset['strength'].map(label_mapping)
dataset

,count,length,common,alpha-count,numeric-count,special-count,uppercase,lowercase,sequential-pattern,repeated-characters,case-ratio,strength
0,13,9.0,0,8,1,0,0,1,1,1,0.0,moderate
1,13,8.0,0,4,4,0,0,1,0,0,0.0,moderate
2,13,11.0,0,5,6,0,1,0,0,0,0.0,weak
3,13,8.0,0,6,2,0,0,1,0,0,0.0,moderate
4,13,8.0,0,8,0,0,0,1,0,0,0.0,moderate
...,...,...,...,...,...,...,...,...,...,...,...,...
684408,69,6.0,0,0,6,0,0,0,0,0,0.0,strong
684409,69,7.0,0,1,6,0,0,1,0,0,0.0,strong
684410,69,7.0,0,7,0,0,0,1,0,0,0.0,moderate
684411,69,11.0,0,6,5,0,0,1,0,0,0.0,moderate
684412,69,8.0,1,8,0,0,1,1,0,0,7.0,weak

In [3]:
strongCount = dataset[dataset['strength'] == 'strong'].shape[0]
print(f"Number of strong passwords after relaxing rules: {strongCount}")

moderateCount = dataset[dataset['strength'] == 'moderate'].shape[0]
print(f"Number of moderate passwords after relaxing rules: {moderateCount}")

weakCount = dataset[dataset['strength'] == 'weak'].shape[0]
print(f"Number of weak passwords after relaxing rules: {weakCount}")

Number of strong passwords after relaxing rules: 162150
Number of moderate passwords after relaxing rules: 469782
Number of weak passwords after relaxing rules: 52478